
        body {
            font-family: Arial, sans-serif;
            margin: 10px;
            width: 20rem;
        }
        #profile-info {
            margin-top: 10px;
            width: 20rem;
        }
 